:root {
  --blue: #3a86ff;
  --purple: #8338ec;
  --pink: #ff006e;
  --orange: #fb5607;
  --yellow: #ffbe0b;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
}

#side-image {
  height: 100vh;
  width: 35vw;
  background-image: url(./luis-villasmil-ITFwHdPEED0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

#side-image > p,
a {
  color: var(--orange);
  font-style: italic;
  font-size: small;
}

h1 {
  text-align: center;
}

#main-content {
  height: 100vh;
  width: 65vw;
  position: fixed;
  right: 0;
}

.parent {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

fieldset {
  /* background-color: var(--blue); */
  margin: 0;
}

.cell {
  display: grid;
}
